<div class="card w-75 mx-auto my-3 p-3 text-dark">
    <h3 class="card-title">{{workout?.name}}</h3>
    <h5 class="card-text">{{exercise?.name}}: {{set?.exerciseRepetition}} reps</h5>
    <p class="card-text">{{exercise?.description}}</p>
</div>
