<div class="border border-5 border-dark rounded p-2 mt-4" style="background-color: #2c3948;">
    <div>
        <div class="container-fluid mt-1">
            <div class="row">
                <div class="ml-4 mt-1" style="color: white;">
                    <div>
                        <i class="pi pi-user me-3 border border-1 border-white rounded-circle p-2"></i>
                        <h4 class="fw-normal d-inline me-3 text-light">ID: <span style="font-weight: lighter; color: white;">{{user?.id}}</span></h4>
                        <h4 class="fw-normal d-inline me-3">First name: <span style="font-weight: lighter; color: white;">{{user?.firstName}}</span></h4>
                        <h4 class="fw-normal d-inline">Last name: <span style="font-weight: lighter; color: white;">{{user?.lastName}}</span></h4>
                        <button type="button" class="btn btn-danger px-3 float-end" (click)="handleAdminRejectButton(user!.id)"><i class="pi pi-times"></i></button>
                        <button type="button" class="btn btn-success px-3 me-2 float-end" (click)="handleAdminAcceptButton(user!.id)"><i class="pi pi-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>