<div>
    <div class="container mt-1">
        <h1 class="mt-4 text-center">My profile</h1>
        <div class="row">
            <div class="ml-4 mt-4" style="color: white;">
                <div class="border border-5 border-dark rounded p-4" style="background-color: #2c3948;">
                    <h2 class="d-inline fw-normal">First Name: <span style="font-weight: lighter;">{{user?.firstName}}</span></h2><br>
                    <h2 class="d-inline fw-normal">Last Name: <span style="font-weight: lighter;">{{user?.lastName}}</span></h2><br>
                    <h2 id="Admin" class="d-inline fw-normal">Admin: <span style="font-weight: lighter;">{{AdminType}}</span></h2><br>
                    <div *ngIf="program">
                        <h2 class="d-inline fw-normal">Goal: <span style="font-weight: lighter;">{{program?.name}}</span></h2>
                    </div>
                    <app-admin-request></app-admin-request>
                </div>
            </div>
        </div>
    </div>
</div>